<div class="w-full" id="<%= dom_id category %>>

  <div class="flex">
    <img src="<%= category.image %>" class="p-5 h-32"></img>

    <p class="my-5">
      <%= category.name %>
    </p>
  </div>

  <%= category.categorizations.first.transaction_id %>

</div>
