<%= render 'categories/category_header' %>

<div class="w-screen bg-slate-400 p-3">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  
  <%= render @category %>
</div>

<div class="w-full bg-green-800 text-white flex justify-center items-center">
  <%= link_to new_transaction_path, class: "bg-green-800 p-5 m-5 border w-full h-full text-center" do %>
    Add new transaction
  <% end %>
</div>
